<div class="header">
	<div class="closebutton">
		<a class="hide-block ticon-chevron-right" href="javascript:;" title="<?php echo $this->translate('Close'); ?>"></a>
	</div>
	<?php echo $this->translate('Select template'); ?>
</div>
<div class="content">
<?php foreach ($this->types as $type => $caption ) : ?>
<?php
	$templates = array_filter($this->templates, function($tmpl)use($type){ return $tmpl['type'] === $type; });
	if (empty($templates)) continue;
?>
	<div class="grid_12 template_header"><?php echo $caption; ?></div>
	<div class="template_group grid_12">
		<?php foreach ($templates as $template) : ?>
		<div class="template_item <?php echo ((isset($template['isCurrent']) && $template['isCurrent']) ? 'curr-template' : ''); ?>" title="<?php echo sprintf($this->translate('%s template'), $template['fullName']); ?>">
			<?php if (!in_array($template['name'], $this->protectedTemplates)): ?>
				<span class="template_delete ticon-remove icon16" title="<?php echo $this->translate('Delete');?>"></span>
			<?php endif; ?>
            <?php if (isset($template['isCurrent']) && $template['isCurrent']): ?>
                <span class="template-check ticon-check icon16"></span>
            <?php endif; ?>
			<div class="template_name" <?php echo  ((int) $template['pagesCount'] >= 1) ? 'title="' . sprintf($this->translate('%s template'), $template['fullName']) . ' - ' . $this->translate('used %s times', $template['pagesCount']) . '"' : ''?>>
				<?php echo ucfirst($template['name']); ?>
			</div>
			<?php echo $this->formHidden('template-id', $template['name'], array('id' => 'template-id-'.$template['name'])); ?>
		</div>
		<?php endforeach; ?>
	</div>
<?php endforeach; ?>
</div>