<?php echo $this->doctype(); ?>
<!--[if IE 7 ]><html class="ie ie7" lang="<?php echo $this->htmlLang; ?>"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="<?php echo $this->htmlLang; ?>"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="<?php echo $this->htmlLang; ?>"> <![endif]-->
<!--[if !(IE)]><!-->
<?php
    $device = Zend_Controller_Action_HelperBroker::getStaticHelper('mobile');
    $deviceType = $device->isTablet() ? "tablet" : "mobile";
    $deviceType = $device->isMobile() ? $deviceType : "desktop";
?>
<html class="<?php echo $deviceType; ?>" lang="<?php echo $this->htmlLang; ?>">
<!--<![endif]-->
<head>
    <?php echo $this->headMeta()->setIndent(8); ?>
    <?php echo $this->headTitle(); ?>
    <?php
    // link and script block start
    // adding canonical link
    if ($this->tplType !== 'typemail') {
        if (Tools_Security_Acl::isAllowed(Tools_Security_Acl::RESOURCE_PAGE_PROTECTED)) {
            if (empty($this->bodyTag)) {
                $this->headLink()
                    ->prependStylesheet($this->websiteUrl.'system/css/seotoaster.css');
            }
        }
        $this->headLink()->setIndent(8)
             ->prependStylesheet($this->websiteUrl.'system/css/seotoaster-ui.css')
             ->prependStylesheet($this->websiteUrl.'system/css/reset.css');

        if (!empty($this->bodyTag)) {
            $this->headLink()
                 ->appendStylesheet($this->websiteUrl.'system/js/external/magnific-popup/magnific-popup.css');
        }
    }
    if (Tools_Security_Acl::isAllowed(Tools_Security_Acl::RESOURCE_PAGE_PROTECTED)) {
        if (!empty($this->bodyTag)) {
            $this->headLink()
                ->prependStylesheet($this->websiteUrl.'system/css/seotoaster-reset.css');
        }
    }
    $this->headLink()->headLink(array('rel' => 'canonical', 'href' => $this->canonicalUrl), 'PREPEND');

    echo $this->headStyle();

    if (isset($this->minify) && $this->minify === true) {
        echo Tools_System_Minify::minify($this->headLink(), true);
    }
    else {
        echo $this->headLink();
    }

    $this->jQuery()->uiEnable();

    if($device->isTablet() || $device->isMobile()){
        $this->jQuery()
             ->addJavascriptFile($this->websiteUrl.'system/js/external/hammer/hammer.min.js')
             ->addJavascriptFile($this->websiteUrl.'system/js/external/jquery/plugins/touchpunch/jquery.ui.touch-punch.min.js');

    }

    echo $this->jQuery();

    if (!empty($this->bodyTag)) {
        $this->inlineScript()->setIndent(8)->setAllowArbitraryAttributes(true)
            ->prependFile($this->websiteUrl.'system/js/external/smoke/smoke.min.js')
            ->prependFile($this->websiteUrl.'system/js/internal/system.min.js')
            ->prependFile($this->websiteUrl.'system/js/external/magnific-popup/jquery.magnific-popup.min.js')
            ->prependFile($this->websiteUrl.'system/js/external/jquery/plugins/mousewheel/jquery.mousewheel.min.js')
            ->prependFile($this->websiteUrl.'system/js/external/jquery/plugins/cookie/jquery.cookie.js');
    }else{
        $this->headScript()->setIndent(8)->setAllowArbitraryAttributes(true)
            ->prependFile($this->websiteUrl.'system/js/external/smoke/smoke.min.js')
            ->prependFile($this->websiteUrl.'system/js/internal/system.min.js')
            ->prependFile($this->websiteUrl.'system/js/external/jquery/plugins/mousewheel/jquery.mousewheel.min.js')
            ->prependFile($this->websiteUrl.'system/js/external/jquery/plugins/cookie/jquery.cookie.js');
    }

    if (isset($this->minify) && $this->minify === true)  {
        echo Tools_System_Minify::minify($this->headScript(), true);
    }
    else {
        echo $this->headScript();
    }
    // link and script block end

    echo $this->placeholder('misc');
    echo isset($this->placeholder('seo')->seoHead) ? $this->placeholder('seo')->seoHead: '';
    ?>
</head>
<?php echo !empty($this->bodyTag) ? $this->bodyTag : '<body>'; ?>
<?php echo isset($this->placeholder('seo')->seoTop) ? $this->placeholder('seo')->seoTop: ''; ?>
<?php echo $this->layout()->content; ?>
<?php echo isset($this->placeholder('seo')->seoBottom) ? $this->placeholder('seo')->seoBottom: ''; ?>
<input type="hidden" id="website_url" value="<?php echo $this->websiteUrl; ?>" />
<input type="hidden" id="current_theme" value="<?php echo $this->currentTheme; ?>" />
<input type="hidden" id="page_id" value="<?php echo $this->pageData['id']; ?>">
<?php if(isset($this->sculptingReplacement)): ?>
    <!-- PRSCULPTING -->
    <script type="text/javascript" charset="utf-8">$(function() {var sculptingReplacement = <?php echo $this->sculptingReplacement; ?>;$.each(sculptingReplacement, function() {$('span.' + this.id).replaceWith(this.repl);})});</script>
    <!-- /PRSCULPTING -->
<?php endif; ?>
<?php
/**
 * Plugins additional content
 */
    echo $this->placeholder('plugins');

    if (isset($this->minify) && $this->minify === true) {
        echo Tools_System_Minify::minify($this->inlineScript(), true);
    } else {
        echo $this->inlineScript();
    }
?>
</body>
</html>
