<?php if ($this->slideShow): ?>
    <div id="<?php echo $this->uniq; ?>" class="cycle-slideshow rotator"
        data-cycle-slides="> div.slide"
        data-cycle-timeout="2000"
        data-cycle-speed="<?php echo $this->swapTime * 1000; ?>"
        data-cycle-fx="<?php echo $this->effect; ?>"
        data-cycle-auto-height="0"
        data-cycle-max-z="10"
        data-cycle-swipe="true"
        data-cycle-swipe-fx="<?php echo $this->effect; ?>"
        <?php echo ($this->pager) ? 'data-cycle-pager="#pager-'.$this->uniq.'"' : ''; ?>
        <?php echo ($this->prevnext) ? 'data-cycle-pager="#pager-'.$this->uniq.'"' : ''; ?>
        style="
            max-width  : <?php echo (filter_var($this->sliderWidth, FILTER_VALIDATE_INT) ? $this->sliderWidth . 'px' : $this->sliderWidth); ?>;"
        >
        <?php if($this->prevnext): ?>
            <div class="action-button cycle-prev"></div>
            <div class="action-button cycle-next"></div>
        <?php endif;?>
        <?php if (!empty($this->files)): ?>
            <?php foreach ($this->files as $key => $image): ?>
                <div class="slide" style="max-height : <?php echo (filter_var($this->sliderHeight, FILTER_VALIDATE_INT) ? $this->sliderHeight . 'px' : $this->sliderHeight); ?>;">
                    <?php $size = getimagesize('media/' . $this->folder . $image); ?>
                    <img src="<?php echo(($this->mediaServersAllowed) ? Tools_Content_Tools::applyMediaServers($this->websiteUrl) : $this->websiteUrl), 'media/' . $this->folder . $image; ?>" alt="<?php echo Tools_System_Tools::cutExtension($image); ?>" <?php echo(($this->sliderWidth == 'auto') ? '' : 'width="' . $this->sliderWidth . '"'); ?>  />
                    <?php if ($this->content): ?>
                        <div class="slide-description"><?php echo '{$textonly:'.$this->rotatorId.'_content_'.substr(md5($image), 0, 10).'}'; ?></div>
                    <?php endif ?>
                </div>
            <?php endforeach; ?>
        <?php endif; ?>
        <?php if ($this->pager): ?>
            <div id="pager-<?php echo $this->uniq; ?>" class="cycle-pager"></div>
        <?php endif; ?>
    </div>
<?php else : ?>
    <div id="<?php echo $this->uniq; ?>" class="rotator" >
        <?php if (!empty($this->files)): ?>
            <?php foreach ($this->files as $key => $image): ?>
                <div class="slide">
                    <?php $size = getimagesize('media/' . $this->folder . $image); ?>
                    <img src="<?php echo(($this->mediaServersAllowed) ? Tools_Content_Tools::applyMediaServers($this->websiteUrl) : $this->websiteUrl), 'media/' . $this->folder . $image; ?>" alt="<?php echo Tools_System_Tools::cutExtension($image); ?>" <?php echo(($this->sliderWidth == 'auto') ? '' : 'width="' . $this->sliderWidth . '"'); ?>  />
                    <?php if ($this->content): ?>
                        <div class="slide-description"><?php echo '{$header:'.$this->rotatorId.'_content_'.substr(md5($image), 0, 10).'}'; ?></div>
                    <?php endif ?>
                </div>
            <?php endforeach; ?>
        <?php endif; ?>
    </div>
<?php endif; ?>

<?php if ($this->slideShow): ?>
    <?php $this->inlineScript()->appendFile(
        $this->websiteUrl . 'system/js/external/jquery/plugins/cycle/jquery.cycle2.min.js'
    ); ?>

    <?php $device = Zend_Controller_Action_HelperBroker::getStaticHelper('mobile');
        if($device->isTablet() || $device->isMobile()) : ?>
            <?php $this->inlineScript()->appendFile(
                $this->websiteUrl . 'system/js/external/jquery/plugins/cycle/jquery.cycle2.swipe.min.js'
            ); ?>
    <?php endif; ?>

    <?php
        if ($this->effect == 'shuffle') {
            $this->inlineScript()->appendFile(
                $this->websiteUrl . 'system/js/external/jquery/plugins/cycle/jquery.cycle2.shuffle.min.js'
            );
        } else if ($this->effect == 'tileSlide' || $this->effect == 'tileBlind') {
            $this->inlineScript()->appendFile(
                $this->websiteUrl . 'system/js/external/jquery/plugins/cycle/jquery.cycle2.tile.min.js'
            );
        } else if ($this->effect == 'scrollVert') {
            $this->inlineScript()->appendFile(
                $this->websiteUrl . 'system/js/external/jquery/plugins/cycle/jquery.cycle2.scrollVert.min.js'
            );
        }
    ?>
<?php endif; ?>

<?php if($this->stylesOn) :?>
<?php $this->headStyle()->captureStart() ?>
	.rotator{
        overflow   : hidden;
        position   : relative;
    }
    .rotator .slide{
        width : 100%;
    }
    .rotator .slide-description{
        position   : absolute;
        right      : 0;
        bottom     : 0;
        left       : 0;
        padding    : 10px 16px;
        color      : #fff;
        background : rgba(0, 0, 0, 0.5);
        -ms-filter : "progid:DXImageTransform.Microsoft.gradient(GradientType=1, StartColorStr='#80000000', EndColorStr='#80000000')";
        filter     : progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#80000000', EndColorStr='#80000000');
        zoom       : 1 !important
    }
    .rotator .action-button {
        cursor: pointer;
        height: 50px;
        margin-top: -25px;
        position: absolute;
        top: 50%;
        width: 50px;
        z-index: 20;
    }
    .rotator .cycle-prev {
        left: 0;
        background: url(http://malsup.github.com/images/left.png) 50% 50% no-repeat;
    }
    .rotator .cycle-next {
        right: 0;
        background: url(http://malsup.github.com/images/right.png) 50% 50% no-repeat;
    }
<?php $this->headStyle()->captureEnd() ?>
<?php endif; ?>