<div class="seotoaster container" id="addedit-page">

	<?php
	$draftOrLive = $this->toasterDraftorlive(array(
		'published'        => !$this->pageForm->getDraft(),
		'publishAt'        => $this->pageForm->getPublishAt(),
		'onselectCallback' => 'datepickerCallback'
	));

	$optimizedCheck = '';
	if($this->sambaOptimized):
		$optimizedCheck = '<label class="ml2">' . $this->formCheckbox('sambaOptimized', $this->sambaOptimized, array('checked' => $this->sambaOptimized, 'id' => 'toggle-optimized')) . '&nbsp;' . $this->translate('Optimized') . '</label>';
	endif;
	echo $this->partial('admin' . DIRECTORY_SEPARATOR . '_header.phtml', array('innerHeaderHtml' => $draftOrLive . $optimizedCheck, 'helpSection' => $this->helpSection));
	?>

	<div id="templatelist" class="show-right seotoaster"></div>
	<div id="falist" class="show-right seotoaster">
		<div class="header">
			<div class="closebutton">
				<?php echo $this->toasterHelp('fa'); ?>
				<a class="hide-block ticon-chevron-right" href="javascript:;" title="Close"></a>
			</div>
			<?php echo $this->translate('Tag a page | Create a tag'); ?>
		</div>
		<div class="content grid_12">
			<form id="frm-featured-area" action="<?php echo $this->websiteUrl . '/backend/backend_featured/featured/id/' . $this->pageForm->getElement('pageId')->getValue() . '/pid/' . $this->pageForm->getElement('pageId')->getValue() ?>" method="post" data-callback="loadFaList" class="_fajax grid_12 form-inline">
                <label for="fa-name" class="required"><?php echo $this->translate('Page tag name'); ?></label>
                <input id="fa-name" class="grid_11 alpha omega" type="text" name="name" value="">
				<button id="add-featured-area" class="btn icon ticon-plus grid_1 alpha omega mt0px" type="submit" name="addFeaturedArea"><?php echo $this->translate('Add page tag'); ?></button>
			</form>
			<div class="header-inner grid_12 mt1em">
				<div class="grid_12 list-row-item">
					<?php echo $this->translate('Page tag name'); ?>
				</div>
			</div>
			<div id="fa-list" class="grid_12 items-list scroll"></div>
		</div>
	</div>
	<form id="frm-page" action="<?php echo $this->url(); ?>" method="post" class="_fajax _reload content" data-dialog-box-callback="checkOptions" data-dialog-box="true">
		<fieldset class="grid_6 mb0px">
			<legend class="h2"><?php echo $this->translate('Page Information'); ?></legend>
			<p class="mt0px"><?php echo $this->pageForm->getElement('h1'); ?></p>
			<p><?php echo $this->pageForm->getElement('headerTitle'); ?></p>
			<p><?php echo $this->pageForm->getElement('url'); ?></p>
			<p><?php echo $this->pageForm->getElement('navName'); ?></p>
			<p><?php echo $this->pageForm->getElement('metaKeywords'); ?></p>
			<p><?php echo $this->pageForm->getElement('metaDescription'); ?></p>
		</fieldset>
		<fieldset class="grid_6 navigation mb2em">
			<legend class="h2 required"><?php echo $this->translate('Navigation'); ?></legend>
			<div class="btn-set mt0px">
				<?php echo $this->toasterRadio('inMenu', $this->pageForm->getShowInMenu(), array('class' => 'menu-selector'), $this->pageForm->getElement('inMenu')->getMultiOptions(), ''); ?>
			</div>
			<div class="grid_12 alpha omega cl-both background mt0px">
				<?php echo $this->formSelect('pageCategory', $this->pageForm->getParentId(), null, $this->pageForm->getElement('pageCategory')->getMultiOptions()); ?>
				<div class="menu-info mt5px">Please select menu for this page</div>
			</div>
		</fieldset>
		<fieldset class="grid_6 settings mb1-75em">
			<legend class="h2 grid_4 alpha"><?php echo $this->translate('Settings'); ?></legend>
			<div class="grid_8 alpha omega text-right featured-link mt0px">
				<span class="ticon-tags icon14"></span>
				<?php
					echo !$this->faCount ? '<a class="featured" href="javascript:;" title="tags">' . $this->translate('Tag this page') . '</a>' : $this->translate('Page was added') . ' <span class="featured-count">' . $this->faCount . '</span> ' . $this->translate('times in') . ' <a class="featured" href="javascript:;" title="tags">tags</a>';
				?>
			</div>
			<div class="cl-both background mt5px">
				<label class="grid_4 alpha omega required"><?php echo $this->pageForm->getElement('templateId')->getLabel(); ?>:</label>
                <?php echo $this->pageForm->getElement('templateId')->renderViewHelper(); ?>
                <div class="grid_8 alpha omega mb10px">
					<a id="curr-template" for="templateId" href="javascript:;"><?php echo $this->translate('Select template');?></a>
				</div>
				<label class="grid_4 alpha omega mt5px"> <?php echo $this->translate('This page is'); ?></label>
				<?php echo $this->pageForm->getElement('extraOptions'); ?>
			</div>
		</fieldset>
		<fieldset class="grid_6">
			<legend class="h2 mb0px"><?php echo $this->translate('Page Teasers'); ?></legend>
			<div id="page-preview" class="grid_4 ml0 mr4 page-preview">
				<img id="page-preview-image" src="<?php echo $this->pagePreviewImage ?>" width="135" alt="<?php echo $this->translate('Page preview image');?>" />
				<span class="ticon-folder-upload hide"><?php echo $this->translate('Upload an image');?></span>
				<?php
					$uploader = $this->toasterUploader(array('id' => 'page-teaser-uploader','caller' => 'pagePreview', 'noMultiupload' => true, 'caption' => " "));
					echo $uploader;
				?>
			</div>
			<div  class="grid_8 alpha omega">
				<?php echo $this->pageForm->getElement('teaserText')->setAttrib(
                    'placeholder',
                    $this->translate('Insert a text snippet. You can then call that text when creating page lists. It can also be used by the integrated search engine.')
                ); ?>
			</div>
		</fieldset>
        <?php echo $this->pageForm->getElement('removePreviousOption'); ?>
		<?php echo $this->pageForm->getElement('pageId'); ?>
		<?php echo $this->pageForm->getElement('draft'); ?>
		<?php echo $this->pageForm->getElement('optimized'); ?>
		<?php echo $this->pageForm->getElement('publishAt'); ?>
		<?php echo $this->pageForm->getElement('pageType'); ?>
        <?php echo $this->pageForm->getElement('updatePage'); ?>
	</form>
</div>
<script type="text/javascript">
	$(function() {
		$('#h1').focus();
		$('#templateId').val() ? $('#curr-template').text($('#templateId').val()) :'';
		$(document).on('click', '#curr-template', function(){
			$('#templatelist').show("slide", { direction: "right"});
			if(!$('#templatelist').find('.content').length){
				showTemplatesList();
			}
		}).on('click', '.featured', function(){
            $('#falist').show("slide", { direction: "right"});
        });

        var container = jsPageTeaserUploader;

        container.bind('FileUploaded', function (uploader, file, info) {
            var info = $.parseJSON(info.response);
            if (info === false) {
                showMessage('<?php echo $this->translate('Error during upload file');?>', true, 3000);
            }
            if (info.error === true) {
                var errorMessage = '';
                $.each(info.result, function (name, value) {
                    errorMessage += value + '<br />';
                });
                showMessage(errorMessage, true, 3000);
            }
        });
	});

    function checkOptions(){
        $('#removePreviousOption').val('yes');
        $('#frm-page').submit();
    }
</script>

<?php $this->headScript()
           ->appendFile($this->websiteUrl . 'system/js/internal/page.min.js')
           ->appendFile($this->websiteUrl . 'system/js/internal/featuredarea.min.js'); ?>
